:root {
    --bg-color-primary: rgb(39, 36, 29);
    --bg-color-secondary: rgb(77, 73, 73);
    --bg-transparent: rgba(0, 0, 0, 0.5);
    --font-family: "Gowun Dodum", sans-serif;
    --header-height: 150px;
    --sB-width: 450px;
    --offset-main: 40px;
    --offset-secondary: 20px;
    --border-radius-main: 8px;
    --box-shadow-main: 0 0 3px white;
    --dish-box-height: 150px;
    --color-primary: rgb(236, 47, 100);
    --color-secondary: rgb(255, 188, 3);
    --color-tertiary: rgb(177, 240, 29);
    --color-fourth: rgb(0, 190, 149);
}

body {
    margin: 0;
    color: white;
    font-family: var(--font-family);
}

td {
    vertical-align: bottom;
}

.grey-text {
    color: lightgrey !important;
}

.btn {
    background-color: var(--color-fourth);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(4, 146, 115);
}

.background {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: calc(var(--sB-width) * (-1)) center;
    z-index: -2;
}

.header {
    width: calc(100% - var(--sB-width));
    height: var(--header-height);
    background-color: var(--bg-transparent);
    box-shadow: var(--box-shadow-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-family: "Snowburst One", cursive;
    font-size: 60px;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
}

.header i {
    font-size: 60px;
    color: var(--color-tertiary);
}

.menu-container {
    position: absolute;
    left: 0;
    top: var(--header-height);
    right: var(--sB-width);
    bottom: 0;
    width: calc(100% - var(--sB-width));
    height: calc(100vh - var(--header-height));
}

.menu {
    width: calc(100% - 2 * var(--offset-main));
    height: calc(100% - 3 * var(--offset-main));
    background-color: var(--bg-transparent);
    margin-left: var(--offset-main);
    margin-top: var(--offset-main);
    margin-right: calc(var(--offset-main) + var(--sB-width));
    margin-bottom: var(--offset-main);
    padding-top: var(--offset-main);
    box-shadow: var(--box-shadow-main);
    border-radius: var(--border-radius-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.dish-box {
    width: calc(100% - 2 * var(--offset-main));
    margin-bottom: var(--offset-main);
    display: flex;
}

.dish-box > img {
    height: var(--dish-box-height);
    width: var(--dish-box-height);
    object-fit: cover;
    border: 2px solid var(--color-secondary);
    border-radius: var(--border-radius-main);
}

.dish-text {
    position: relative;
    background-color: var(--bg-color-primary);
    width: 100%;
    margin-left: 30px;
    border: 2px solid var(--color-primary);
    border-radius: var(--border-radius-main);
    padding: 16px 72px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plus {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-secondary);
    border: 2px solid var(--color-tertiary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus:hover {
    background-color: rgb(92, 92, 88);
    cursor: pointer;
}

.plus span {
    font-size: 40px;
    color: var(--color-tertiary);
}

.dish-name {
    color: var(--color-tertiary);
    font-size: 24px;
}

.dish-desc {
    font-size: 16px;
}

.dish-price {
    font-size: 20px;
}

.sB-container {
    width: var(--sB-width);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color-primary);
    box-shadow: var(--box-shadow-main);
    display: flex;
    justify-content: center;
}

.close-x {
    visibility: hidden;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 16px;
    right: 5%;
    cursor: pointer;
    color: var(--color-secondary);
}

.sB-content {
    height: calc(100% - var(--offset-main));
    width: 90%;
    display: flex;
    flex-direction: column;
}

.sB-content h2 {
    font-size: 32px !important;
}

#sB-info-add-dishes {
    padding-top: var(--offset-secondary);
}

.sB-info {
    padding-top: var(--offset-secondary);
    padding-bottom: var(--offset-secondary);
    border-bottom: 1px solid lightgrey;
}

.sB-content table {
    width: 100%;
}

.sB-table-order {
    padding-top: var(--offset-secondary);
    padding-bottom: var(--offset-secondary);
    border-bottom: 1px solid lightgrey;
}

.sB-table-order tbody tr td:nth-child(3),
.sB-table-order tbody tr td:nth-child(6) {
    display: flex;
    justify-content: flex-end;
}

.sB-table-order tbody tr td:nth-child(5) {
    text-align: right;
}

.sB-quantity-icons {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.sB-plus {
    border: 2px solid var(--color-tertiary);
    margin-left: 4px;
}

.sB-plus span {
    color: var(--color-tertiary);
}

.sB-minus {
    border: 2px solid var(--color-primary);
}

.sB-minus span {
    color: var(--color-primary);
}

.sB-quantity-icons:hover {
    background-color: var(--bg-color-secondary);
    cursor: pointer;
}

.trash-icon {
    cursor: pointer;
}

.sB-table-expense {
    padding-top: var(--offset-secondary);
    padding-bottom: var(--offset-secondary);
    border-bottom: 1px solid lightgrey;
}

.sB-table-expense tbody tr td:first-child {
    padding-right: 16px;
}

.sB-table-expense tbody tr td:nth-child(2) {
    text-align: right;
}

#totalText {
    font-weight: bold;
}

#diffToMovText {
    color: var(--color-secondary);
}

.order-btn {
    width: 240px;
    height: 64px;
    font-size: 32px;
    align-self: center;
    margin-top: var(--offset-secondary);
}

.order-btn-disabled {
    background-color: grey !important;
}

.order-btn-disabled:hover {
    cursor: no-drop;
}

.sB-mobile-btn-container {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--bg-color-primary);
    border-top: 2px solid var(--color-fourth);
}

.sB-mobile-btn {
    width: 95%;
    height: 60px;
    font-size: 32px;
}

/* Responsive Design  */

@media (max-width: 1400px) {
    .header h1,
    .header i {
        font-size: 48px;
    }
}

@media (max-width: 1200px) {
    :root {
        --sB-width: 400px;
        --offset-main: 20px;
    }
}

@media (max-width: 1100px) {
    :root {
        --sB-width: 350px;
    }
    .order-btn {
        width: 180px;
        height: 48px;
        font-size: 28px;
    }
}

@media (max-width: 1000px) {
    :root {
        --dish-box-height: 100px;
        --header-height: 120px;
    }
    .header h1 {
        font-size: 40px;
        margin-left: 16px;
        margin-right: 12px;
    }
    .header i {
        font-size: 40px;
    }
    .dish-text {
        padding: 8px 72px 8px 12px;
    }
    .dish-name {
        font-size: 20px;
    }
    .dish-price {
        font-size: 18px;
    }
    .plus {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 900px) {
    :root {
        --sB-width: 100%;
        --offset-secondary: 12px;
    }
    .background {
        background-position: right;
    }
    .header,
    .menu-container {
        width: 100%;
    }
    .menu {
        height: calc(100% - 3 * var(--offset-main) - 80px); /* subtract sB-mobile-btn-container-height additionally */
    }
    .sB-container {
        left: 0;
        overflow-x: auto;
        display: none;
    }
    .close-x {
        visibility: visible;
    }
    .sB-content h2 {
        margin-bottom: 0;
    }
    .sB-mobile-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    :root {
        --header-height: 80px;
    }
    .header h1 {
        font-size: 32px;
    }
    .header i {
        font-size: 32px;
    }
}

@media (max-width: 500px) {
    :root {
        --dish-box-height: 80px;
    }
    .dish-text {
        margin-left: 20px;
    }
    .dish-desc {
        font-size: 14px;
    }
    .plus {
        width: 24px;
        height: 24px;
    }
    .plus span {
        font-size: 28px;
    }
}

@media (max-width: 450px) {
    :root {
        --header-height: 60px;
    }
    .header h1 {
        font-size: 28px;
    }
    .header i {
        font-size: 28px;
    }
}

@media (max-width: 400px) {
    :root {
        --dish-box-height: 120px;
    }
    .header {
        justify-content: space-evenly;
    }
    .header h1 {
        font-size: 24px;
        width: 120px;
    }
    .dish-box {
        flex-direction: column;
        align-items: center;
    }
    .dish-text {
        margin-left: unset;
        width: unset;
        margin-top: 12px;
        margin-bottom: 12px;
        padding: 8px 60px 8px 12px;
    }
    .sB-mobile-btn-container {
        height: 60px;
    }
    .sB-mobile-btn {
        width: 90%;
        height: 44px;
        font-size: 28px;
    }
}
